.table{width: 660px;
      }
.table th{width: 150px;
          height: 7rem;
          font-size: 1.5rem;
          text-align: right;
          }
.table td{width: 480px;
          }
.textbox {width: 480px;
          height: 2rem;
          position: ;}
.textbox2{width: 480px;
          height: 7rem;
          text-overflow: scroll;}
.sousin{width: 7rem;
        height: 5rem;
        margin-top: 2rem;
        margin-bottom: 10rem;
        position: absolute;
        left: 600px;
        background-color: #48D1CC;
        border: none;
        font-size: 2rem;
        color: #fff;}
.sousin:hover{opacity: 0.6;}
.dummy{width: 100%;
      height: 200px;}
